ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    /* 全屏高度 */
    /*position: fixed;*/
    overflow: auto;
    /* 如果导航栏选项多，允许滚动 */
}

li {
    display: inline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


/* 鼠标移动到选项上修改背景颜色 */

li a:hover {
    background-color: #555;
    color: white;
}

body {
    background-color: #f1f1f1
}

footer {
    background-color: #f9c6cf;
    clear: both;
    text-align: center;
}